html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
}

html {
    overflow-x: hidden;
}

h1, h2, h3, h4, p, a {
    font-family: 'Nunito', sans-serif;
    color: #003049;
    margin: 0px !important;
}

.hero {
    width: 100%;
}

.ad-hero {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    max-height: 130px;
    overflow: hidden;
    max-width: 650px;
}

.ad-hero img {
    max-height: 130px;
    width: 100%;
    object-fit: cover;
}

.default--container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

.default--center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify--space-between {
    justify-content: space-between;
    width: 100%;
}

.align--center {
    display: flex;
    align-items: center;
}

.default--h1 {
    font-size: 4rem;
    margin: 0;
    white-space: nowrap;
}

.main-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 10px;
    flex: 1;
}

.main-body-flex {
    display: flex;
    width: 1250px;
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 10px;
    flex: 1;
}

.flex-direction--row {
    display: flex;
    flex-direction: row;
}

.flex-direction--col {
    display: flex;
    flex-direction: column;
}

.default--hero .flex-direction--row {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
}