.hero {
    width: 100%;
}

.ad-hero {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    max-height: 130px;
    overflow: hidden;
    max-width: 650px;
}

.ad-hero img {
    max-height: 130px;
    width: 100%;
    object-fit: cover;
}

.hero .flex-direction--row {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
}
